<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">
                <a class="navbar-brand" href="#">
                    Tescode
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Authentication Links -->
                        <li v-if="$auth.check()" class="nav-item">
                            <router-link class="nav-link" :to="{ name: 'home' }">Home</router-link>
                        </li>
                        <li v-if="$auth.check()" class="nav-item">
                            <router-link class="nav-link" :to="{ name: 'about' }">About</router-link>
                        </li>
                        <li v-if="!$auth.check()">
                            <router-link class="nav-link" :to="{ name: 'login' }">Login</router-link>
                        </li>
                        
                        <li v-if="$auth.check()" class="nav-item dropdown">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ $auth.user().name }} <span class="caret"></span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" @click.prevent="logout()">
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="py-4">
            <router-view v-if="$auth.ready()"></router-view>
        </main>
    </div>
</template>

<script>
export default {
   mounted() {
       window.intercepted.$on('response:422', data => {
        alert('Invalid Credentials'); // { status: 404, code: 'Not found', body: null }
        
        // Display the message.
    });
   },
   methods: {
       logout() {
           this.$auth.logout({
                makeRequest: true,
                redirect: {name: 'login'},
                success() {
                    console.log('success ' + this.context);
                },
                error() {
                    console.log('error ' + this.context);
                }
            });
       }
   } 
}
</script>