<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>

                    <div class="card-body">
                        <form method="POST" v-on:submit.prevent="onSubmit">

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input v-model="email" id="email" type="email" class="form-control" name="email" value="" required autofocus>

                                    <!-- <span class="invalid-feedback" role="alert">
                                        <strong>error_email</strong>
                                    </span> -->
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input v-model="password" id="password" type="password" class="form-control" name="password" required>

                                    <!-- <span class="invalid-feedback" role="alert">
                                        <strong>error_password</strong>
                                    </span> -->
                                </div>
                            </div>


                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                email: '',
                password: '',
                error: false
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            onSubmit() {
                var vm = this
                this.$auth.login({
                    data: {
                        email: vm.email,
                        password: vm.password
                    }, 
                    success: function (data) {
                    },
                    error: function (data) {
                    },
                    rememberMe: true,
                    redirect: {name: 'home'},
                    fetchUser: true,
                });       
            },
        }
    }
</script>
